
<h1> Hi<%= @owner_name %></h1>
<h2>
	Somebody has taken the <%= @item_name %>  <%= @item_des %> item from you. 

</h2>

<p> You can get it back from 
	<a href="http:www.onedollaritem.org" target="_blank"> here 
	</a>
</p>


<p>
	Remember this is a steal scenario. Each time you put a dollar in, you steal the item from the person above. Our ambassador Patrick Switzer will decide when each item is no longer for sale, whoever is in possession when he makes the call, is the winner
</p>
