<div>
	<h1>App that connects with Facebook</h1>
	<div ng-controller="authenticationCtrl" >
		
		<button ng-show="!loggedIn" ng-click="IntentLog()">Facebook: {{loggedIn}}</button>
		<div id="status">
		</div>

		<div ng-show="loggedIn">
			<img  id="photoUrl" src="" alt="">
			<button data-ct-checkout="eve.alain-carvajal" >Donate</button>
			<img src="https://s3-us-west-2.amazonaws.com/tilt-donations/donate_now.png" data-ct-checkout="eve.alain-carvajal">

			<iframe src="https://eve.tilt.com/alain-carvajal/checkout/payment" width="490px" height="1000px" style="border-radius:3px;" frameBorder="0"></iframe>

		</div>
		
	</div>
</div>
	

