<div  ng-app="odiApp">
	<h1>Odi#tender</h1>
	<p> {{2+3+4}} </p>
	<div ng-controller="FaceAppCtrl" >
		<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
		</fb:login-button>

		<div id="status">
		</div>
	</div>
</div>
	

