<script>
					  
</script>


<div>
	<h1>Odi#tender</h1>
	<p> {{2+3+4}} </p>
	<div ng-controller="FaceAppCtrl as face" >
		<fb:login-button scope="public_profile,email" onlogin="face.checkLoginState();" ng-show="face.showFBbutton">
		</fb:login-button>

		<div id="status">
		</div>
	</div>
</div>
	

