<div>
	<h1>App that connects with Facebook</h1>
	<div ng-controller="authenticationCtrl" >
		
		<button ng-show="!loggedIn" ng-click="IntentLog()">Facebook: {{loggedIn}}</button>
		<div id="status">
		</div>
		<img ng-show="loggedIn" id="photoUrl" src="" alt="">
		
	</div>
</div>
	

