<div>
	<h1>App that connects with Facebook</h1>
	<div ng-controller="authenticationCtrl" >
		
		<button ng-show="!loggedIn" ng-click="IntentLog()">Facebook: {{loggedIn}}</button>
		<div id="status">
		</div>

		<div ng-show="loggedIn">
			<img  id="photoUrl" src="" alt="">
			<div ng-controller="paymentCtrl">  

				<div id="donatebuttons">	
					<button ng-click="paymentMode('OpenTilt')" >OpenTilt</button>
					
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="AG5J8536PZVPC">
					<input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
					<img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
					</form>


				</div>


				<div id="OpenTiltLightBox" class="hide" ng-class="{show: PaymentPlataform === 'OpenTilt'}">
					<iframe  src="https://eve.tilt.com/alain-carvajal/checkout/payment" width="490px" height="1000px" style="border-radius:3px;" frameBorder="0"></iframe>
				</div>
				<button class="hide" ng-class="{show: PaymentPlataform === 'OpenTilt'}" ng-click="CloseLightBox()" id="CloseLightBox">close</button>
				

			</div>

		</div>
		
	</div>
</div>



 <script type="text/javascript" src="https://open.tilt.com/checkout.js"></script>
	

