#formu {
	background: image-url("formulario.png");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 100%;
	font-family: "klavika_bdbold_italic";
	margin: 0 auto;
	padding: 13em 0;
	text-align: center;
	width: 753px;
	height: 551px;
	
	& div {
		background: image-url("barra_verde.png");
		background-position: right 10px;
		background-repeat: no-repeat;
		background-size: 80% 5px;
		margin: 0.8em auto;
		text-align: left;
		width: 45%;
		
		&:last-child {
			text-align: center;
			background: none;
			cursor: pointer;
		}
	}


	label {
		font-size: 1.3em;
		text-align: left;
	}
	input, textarea {
		border: none;
		border-radius: 5px;
		transform: skewX(-5deg);
		width: 100%;
	}
	input {
		height: 27px;
	}

	#send {
		width: 30%;
	}
}



@media screen and (max-width: 800px) {
	#formu {
		padding: 7.5em 0;
		#send {
			width: 40%;
		}
		label{
			font-size: 1em;
		} 
		input, textarea {
			height: 17px;
		}
	}
}
@media screen and (max-width: 550px) {
	#formu {
		padding: 10em 0;
		#send {
			width: 50%;
		}
	}
}
@media screen and (max-width: 500px) {
	#formu {
		padding: 4em 0;
		width: 301px;
		height: 220px;
		div {
			margin: 0.2em auto;
		}
	}
}