@import 'mixings';

#counter {
	@include animateElementBg("counterbgOff.png");
	overflow: hidden;
	margin: 0 auto;
	position: relative;
	.itemsGreen {
		@include animateElementBg("counterbgOff1.png");
	}
	.ornamental {
		@include animateElementBg("counterbgOff2.png");
	}
	.whiteroll {
		width: 100%;
		height: 100%;
		position: absolute; 
		top:0;
	}
}

#initshare {
	text-align:center;
	position: absolute;
  	bottom: 15%;
  	width: 100%;
  	img {
  		width : 16%;
  	}
}

#countdown {
	position: absolute;
	top: 2.5em;
	text-align: center;
	width: 100%;

	#numberdays {
		width: 25%;
	}

	#daysLeft {
		position: relative;
		bottom: 1em;
		width: 30%;
	}
}

@media screen and (max-width: 480px) {
	#countdown {
		  top: 1em;
	}
}

