@import 'mixings';

#counter {
	@include back("counterbg.png");
	overflow: hidden;
	margin: 0 auto;
	position: relative;
	
	.whiteroll {
		width: 100%;
		height: 100%;
		position: absolute; 
		top:0;
	}
}

#initshare {
	text-align:center;
	position: absolute;
  	bottom: 15%;
  	width: 100%;
  	img {
  		width : 16%;
  	}
}

#countdown {
	position: absolute;
	top: 2.5em;
	text-align: center;
	width: 100%;
	height: 38%;

	.numberdays {
		height: 100%;
		width: 100%;
	}

	#daysLeft {
		position: relative;
		bottom: 4em;
		width: 30%;
	}
}

#day9{
	@include back("9.png");
	background-position: center -35px;
}#day8{
	@include back("8.png");
	background-position: center -35px;
}#day7{
	@include back("7.png");
	background-position: center -35px;
}#day6{
	@include back("6.png");
	background-position: center -35px;
}#day5{
	@include back("5.png");
	background-position: center -35px;
}#day4{
	@include back("4.png");
	background-position: center -35px;
}#day3{
	@include back("3.png");
	background-position: center -35px;
}#day2{
	@include back("2.png");
	background-position: center -35px;
}#day1{
	@include back("1.png");
	background-position: center -35px;
}

@media screen and (min-width: 1151px) and (orientation: landscape) {
	#counter {
		@include animateElementBg("counterbgOff.png");
		.itemsGreen {
			@include animateElementBg("counterbgOff1.png");
		}
		.ornamental {
			@include animateElementBg("counterbgOff2.png");
		}
	}
}

@media screen and (max-width: 480px) {
	#countdown {
		  top: 1em;
	}
}

