@import 'mixings';

#donation {
	margin: 0 auto;
    overflow: hidden;
	position: relative;
	transition: ease-out .5s opacity;
	height:600px;
	
	.fondo {
		height: 100%;
		position: absolute;
		top: 0;
		width: 100%;
	}

    .title {
      width: 90%;
      opacity: 0;
    }

  	#itemsFlow {
		display: flex;
		margin: 0;
		padding: 0;
		position: absolute;
		left: 0;
		transition: ease-out 1.5s all;
  	}

  	.item {
  		flex: 1;
  		text-align: center;
  		list-style: none;
  		figure {
  			background: image-url("donatebgit-us.png");
  			background-repeat: no-repeat;
  			background-position: center;
  			background-size: 100%;
  			display: inline-block;
  			vertical-align: middle;
  			width: 140px;
  			height: 140px;
  			img {
				border-radius: 50%;
				margin-top: 20%;
				width: 60%;
  			}		
  		}
  		.infoItem {
  			text-transform: uppercase;
  			display: inline-block;
  			vertical-align: middle;
  			width: 30%;
  			p{
  				margin: 0;
  				font-family: "klavika_bdbold_italic";
  				overflow: hidden;
  				&:not(.item_name) {
  					max-height: 19px;
  				}
  			}
			.itemSpec, .ownerSpec{
				margin: 3px 0;
			}

  			.item_name {
  				font-size: 1.6em;
  				line-height: 22px;
  			}
  			.green {
  				color: #30806a;
  			}
  		}
  		.itemView{
			background: image-url("donatebgtext.png");
			background-size: 100%;
			background-position: center;
			background-size: 68% 67%;
			background-repeat: no-repeat;
  		}
  		#buyy {
  			p {
  				margin: 0;
  			}
  		}
  		.click, .shareMyItem {
			width: 180px;
			&:hover {
				width: 185px;
			}
		}
  	}
	form {
		text-align: center;
	}

	#DonateFacebook {
		img {
			width: 287px;
			&:hover {
				width: 290px;
			}
		}
	}
	#DonateJust {
		width: 165px;
		&:hover {
				width: 168px;
			}
	}

	#buttonItems {
		position: absolute;
		bottom: 50%;
		width: 100%;
		.prev{
			transform: rotateZ(-90deg);
			float: left;
			&:hover {
				width: 67px;
			}
		}
		.next {
			transform: rotateZ(90deg);
			float: right;
			&:hover {
				width: 67px;
			}
		}
		img {
			transition: ease-out .3s width;
			width: 65px;
		}
	}
}

//********* STEPSS

.step1 {
	.fondo {
    	@include back("donationbg.png");
	}
	#container_app {
		.copy {
			width: 60%;
		}
	}
	#buttonItems {
		display: none;
	}
	#container_app {
  		position: relative;
  		.copy {
  			font-family: "klavika_bdbold_italic";
  			text-align: center;
			margin: 0 auto;
  			font-size: 1.2em;
  		}
  		.buttonCont {
  			text-align: center;
  			margin: 0;
  		}
  	}
}

.step2 {
	.fondo {
    	@include back("donatebgStep2.png");
	}
	#container_app {
		.copy {
			width: 70%;
		}
	}
	#container_app {
		margin-top: 35%;
  		position: relative;
  		.copy {
  			font-family: "klavika_bdbold_italic";
  			text-align: center;
			margin: 0 auto;
  			font-size: 1.2em;
  		}
  		.buttonCont {
  			text-align: center;
  			margin: 0;
  		}
  	}

}


@media screen and (min-width: 1151px) and (orientation: landscape) {
  #donation {
  	.title {
    	width: 100%;
    }
    #container_app {
		div, .title {
			opacity: 0;
		}
	}
  }

  .step1 {
    .fondo {
      @include animateElementBg("donationbgOff.png");
    }
    
    .ornamental {
      @include animateElementBg("donationbgOff1.png");
    }
  }
  .step2 {
	.fondo {
		@include animateElementBg("donatebgStep2.png");
	}
  }
}

@media screen and (max-width: 1150px) {
	#donation {
		.item {
			figure {
				height: 100px;
				width: 100px;
			}
			.itemView {
				background-size: 58% 72%;
				font-size: 0.7em;
			}
		}
		#container_app .copy {
			font-size: 1em;
		}

		#DonateFacebook img{
			width: 237px;
		}
		#DonateJust {
			width: 125px;
		}
	}
}

@media screen and (max-width: 950px)  {
	#donation {
		.click, .shareMyItem {
			width: 160px;
		}	
	}
}
@media screen and (max-width: 550px)  {
	#donation {
		#container_app .copy {
			font-size: .3em;
		}
		.item  {
			figure {
				height: 70px;
		  		width: 70px;
			}
			.itemView {
				font-size: 0.2em;
			}
			.infoItem {
				p:not(.item_name) { 
					max-height: 9px;
				}
				.item_name {
					line-height: 12px;
				}
			}
			.click, .shareMyItem {
				width: 90px;
			}
		}
		#DonateFacebook img{
			width: 167px;
		}
		#DonateJust {
			width: 85px;
		}
		#buttonItems img {
			width: 40px;
			&:hover {
				width: 32px;
			}
		}
	}
}