@import 'mixings';

#share {
	.fondo {
		background: image-url("sharebg.png");
		background-position: center top;
		background-size: 100%;
		width: 100%;
		height: 100%;
	}
}

@media screen and (max-width: 550px) {
	#share {
		display: none;
	}
}

@media screen and (min-width: 1151px) and (orientation: landscape) {
	#share {
		.fondo {
    		@include animateElementBg("sharebgOff.png");	
		}
    	.ornamental {
    		@include animateElementBg("sharebgOff1.png");
    	}
    	.support {
    		@include animateElementBg("sharebgOff2.png");
    	}
	}
}