<section id="about">

	<div class="text">
		<h2> {{title}}	</h2>
		<h3> {{title2}}	</h3>
		<%= image_tag 'adonroAbout.png'%>

		<p> {{par1}} </p>
		<p> {{par2}} </p>
		
		<ap-lightbox-directive but="how-it-works.png">
			<div id="howit">

				<div class="content">
				<%= image_tag 'how-it-works2.png'%>
					<h2>
						{{howq1}}
					</h2>
					<p>
						{{howa1}}
					</p>
					<h2>
						{{howq2}}
					</h2>
					<p>
						{{howa2}}
					</p>
					<h2>
						{{howq3}}
					</h2>
					<p>
						{{howa3}}
					</p>
					<h2>
						{{howq4}}
					</h2>
					<p>
						{{howa4}}
					</p>
					<h2>
						{{howq5}}
					</h2>
					<p>
						{{howa5}}
					</p>
				</div>
					
				</p>
			
			</div>
		</ap-lightbox-directive>
		

		
	</div>
	
</section>