<section id="about">
<<<<<<< HEAD
	<div class="fondo"></div>
	<div class="eye"></div>
	<div class="title"></div>
	<div class="kid"></div>

	<div class="text">
		<h2> {{title}}	</h2>
=======

	<div class="text">
		<h2> {{title}}	</h2>
		<h3> {{title2}}	</h3>
>>>>>>> a66b6dab75ebaccd61f47203d95647540a9d4304
		<%= image_tag 'adonroAbout.png'%>

		<p> {{par1}} </p>
		<p> {{par2}} </p>
		
<<<<<<< HEAD
		<ap-lightbox-directive but="howitworks">
			<div id="howit">

=======
		<ap-lightbox-directive but="how-it-works.png">
			<div class="hidden lightbox" id="howit">
>>>>>>> a66b6dab75ebaccd61f47203d95647540a9d4304
				<div class="content">
				<%= image_tag 'how-it-works2.png'%>
					<h2>
						{{howq1}}
					</h2>
					<p>
						{{howa1}}
					</p>
					<h2>
						{{howq2}}
					</h2>
					<p>
						{{howa2}}
					</p>
					<h2>
						{{howq3}}
					</h2>
					<p>
						{{howa3}}
					</p>
					<h2>
						{{howq4}}
					</h2>
					<p>
						{{howa4}}
					</p>
					<h2>
						{{howq5}}
					</h2>
					<p>
						{{howa5}}
					</p>
				</div>
					
				</p>
			
			</div>
		</ap-lightbox-directive>
		

		
	</div>
	
</section>