<section id="about">

	<div class="text">
		<h2> {{title}}	</h2>
		<h3> {{title2}}	</h3>
		<%= image_tag 'adonroAbout.png'%>

		<p> {{par1}} </p>
		<p> {{par2}} </p>

		<%= image_tag 'how-it-works.png', :id => "how" %>

		
	</div>
	
</section>