<section id="about">
	<div class="fondo"></div>
	<div class="eye"></div>
	<div class="title"></div>
	<div class="kid"></div>

	<div class="text">
		<h2> {{title}}	</h2>
		<%= image_tag 'adonroAbout.png', :class=>"adorno"%>

		<p> {{par1}} </p>
		<p> {{par2}} </p>
		
		<ap-lightbox-directive but="howitworks">
			<div id="howit">

				<div class="content">
				<%= image_tag 'how-it-works2.png'%>
					<h2>
						{{howq1}}
					</h2>
					<p>
						{{howa1}}
					</p>
					<h2>
						{{howq2}}
					</h2>
					<p>
						{{howa2}}
					</p>
					
					<h2>
						{{howq3}}
					</h2>
					<p>
						{{howa3}}
					</p>
					<h2>
						{{howq4}}
					</h2>
					<p>
						{{howa4}}
					</p>
					<h2>
						{{howq5}}
					</h2>
					<p>
						{{howa5}}
					</p>
				</div>
					
				</p>
			
			</div>
		</ap-lightbox-directive>
		

		
	</div>
	
</section>