<div>
	
	<ng-transclude>
	</ng-transclude>

	<div id="buttonItems" >
		<%= image_tag 'botonregresar.png',:class => 'prev click' %>
		<%= image_tag 'botonregresar.png',:class => 'next click' %>
	</div>

</div>


