<div>
	<%= image_tag "{{but}}", :class => "lightboxbutton" %>
	<%= asset_path "{{but}}", :class => "lightboxbutton" %>
	
	<ng-transclude class="containerLight" >	
	</ng-transclude>

	<%= image_tag "lightBoxClose.png", :class => "hidden closelightbox" %>

</div>