<div>
<<<<<<< HEAD
	<div id="{{but}}" class="lightboxbutton" ></div>
	
	<div class="containerLightBox">
		<div class="lightbox" >
			<ng-transclude>	
			</ng-transclude>
		</div>
	</div>	
=======
	<%= image_tag "{{but}}", :class => "lightboxbutton" %>
	
	<ng-transclude class="containerLight" >	
	</ng-transclude>
>>>>>>> a66b6dab75ebaccd61f47203d95647540a9d4304

	<%= image_tag "lightBoxClose.png", :class => "hidden closelightbox" %>

</div>