<nav id="menu" >
	<ul id="logo">
		<a id="logomini"  href=""> 
			<%= image_tag 'minilogo.png' %>
		</a>
	</ul>

	<ul id="menu-links" >
		<li class="link"> 
			<a href="#app" class="active"> DONATION </a>
		</li>
		
		<li class="link">
			<a href="#about">ABOUT</a>
		</li>
	
		<li class="link">
			<a href="#team"> TEAM VENADOS</a>
		</li>
		
		<li class="link">
			<a href="#share"> SHARE</a>
		</li>
		
		<li class="link"> 
			<a href="#sponsors">  SPONSORS </a>
		</li>
	</ul>
	<ul id="share-menu">
		<li>
			<a href=""> 
				<%= image_tag 'facebook-icon.png' %>
			</a>
		</li>
		<li>
			<a href=""> 
				<%= image_tag 'instagram-icon.png' %>
			</a>
		</li>
		<li class="link">
			<a href="" class="active" >ESP</a>
		</li>
		<li class="link">
			<a href="">ENG</a>
		</li>
	</ul>
	<%= image_tag 'menumobile.png', :id => "menumobile" %>

</nav>

