<nav id="menu" class="deactive" >
	<%= image_tag 'menumobile.png', :id => "menumobile" %>
	<ul id="logo">
		<a id="logomini"  href=""> 
			<%= image_tag 'minilogo.png' %>
		</a>
	</ul>

	<ul id="menu-links" >
		<li class="link"> 
			<a href="#app" class="active"> DONATION </a>
		</li>
		
		<li class="link">
			<a href="#about">ABOUT</a>
		</li>
	
		<li class="link">
			<a href="#team"> TEAM VENADOS</a>
		</li>
		
		<li class="link">
			<a href="#share"> SHARE</a>
		</li>
		
		<li class="link"> 
			<a href="#sponsors">  SPONSORS </a>
		</li>
	</ul>
	<ul id="share-menu" ng-controller="shareMenuCtrl">
		<li ng-click="shareFacebook()">
				<%= image_tag 'facebook-icon.png' %>
		</li>
		<li>
			<a href=""> 
				<%= image_tag 'instagram-icon.png' %>
			</a>
		</li>
		<li class="link">
			<a href="#" ng-click="lang('es')">ESP</a>
		</li>
		<li class="link">
			<a href="#" ng-click="lang('en')">ENG</a>
		</li>
	</ul>

</nav>

