<<<<<<< HEAD
<nav id="menu" class="deactive unloaded" >
=======
<nav id="menu" class="deactive" >
>>>>>>> a66b6dab75ebaccd61f47203d95647540a9d4304
	<%= image_tag 'menumobile.png', :id => "menumobile" %>
	<ul id="logo">
		<a id="logomini"  href=""> 
			<%= image_tag 'minilogo.png' %>
		</a>
	</ul>

	<ul id="menu-links" >
		<li class="link"> 
			<a href="#app" class="active"> DONATION </a>
		</li>
		
		<li class="link">
			<a href="#about">ABOUT</a>
		</li>
	
		<li class="link">
			<a href="#team"> TEAM VENADOS</a>
		</li>
<<<<<<< HEAD
		<li class="link"> 
			<a href="#sponsors">  SPONSORS </a>
		</li>
		
		<li class="link" ng-controller="emailCtrl">
			<a href="#" class="contact" ng-click="showModal('contact')">
				CONTACT
			</a>
		</li>
		
	</ul>
	<ul id="share-menu" ng-controller="shareMenuCtrl">
		<li ng-click="shareFacebook(0)">
			<a href="#">
=======
		
		<li class="link">
			<a href="#share"> SHARE</a>
		</li>
		
		<li class="link"> 
			<a href="#sponsors">  SPONSORS </a>
		</li>
	</ul>
	<ul id="share-menu" ng-controller="langCtrl">
		<li>
			<a href=""> 
>>>>>>> a66b6dab75ebaccd61f47203d95647540a9d4304
				<%= image_tag 'facebook-icon.png' %>
			</a>
		</li>
		<li>
<<<<<<< HEAD
			<a href="https://instagram.com/venados_longboarding/" target="_blank"> 
=======
			<a href=""> 
>>>>>>> a66b6dab75ebaccd61f47203d95647540a9d4304
				<%= image_tag 'instagram-icon.png' %>
			</a>
		</li>
		<li class="link">
			<a href="#" ng-click="lang('es')">ESP</a>
		</li>
		<li class="link">
			<a href="#" ng-click="lang('en')">ENG</a>
		</li>
	</ul>

</nav>

