<section id="team">
	<div id="gallerybutton">
		<div>
			<%= image_tag 'videoButton.png' %>
		</div>
		<div>
			<%= image_tag 'photoButton.png' %>
		</div>
	</div>
	
	<div class="text">
		<p>
			<span>
				{{par1}}
			</span> 
			{{par2}}
		</p>
		<p>
			{{par3}}
		</p>

		<ap-lightbox-directive but="met-the-kids.png">
			<div class="hidden lightbox meetthe">
				
			</div>
		</ap-lightbox-directive>
		
	</div>

</section>