#app {
	//overflow-x: hidden;
	//overflow-y: scroll;
	padding-top: 3em;
	position: relative;
	width: 100%;

	img.center{
		width: 32%;
	}
	#logoonedollar {
		width:22%;
	} 

	#deck {
		background: image-url("deckClean.png");
		background-size: 100%;
		background-position: top;
		position: relative;
		z-index: 0;
		margin: 0 auto;
		left: 0;
		width: 100%;
		max-width: 1200px;
		transition: ease-out 5s opacity, ease-in 3s top;
	}
	div.unloaded {
		top: 1500px;
		opacity: 0;
	}
	div.loaded {
		opacity: 1;
		top: 3em;
	}

	section {
		overflow: hidden;
		position: relative;
		margin: 0 auto;
		width: 55%;
	}
}

.click {
	cursor: pointer;
}

@media screen and (max-width:815px)
{
	#app {
		#deck {
			background: image-url("deckCleanmobile.png");
			background-size: 100%;
			background-position: top;
		}
		section {
			width: 75%;
		}
	}

}

@media screen and (max-width:374px)
{
	#app {
		#deck {
			background: image-url("deckCleanmobile2.png");
			background-size: 100%;
			background-position: top;
		}
	}

}