#app {
	overflow-x: hidden;
	overflow-y: scroll;
	padding-top: 3em;
	position: relative;
	width: 100%;
	#deck {
		background: image-url("deckClean.png");
		background-size: 100%;
		background-position: top;
		position: absolute;
		top: 3em;
		z-index: 0;
		left: 0;
		width: 100%;
		max-width: 1200px;
	}

	section {
		overflow: hidden;
		position: relative;
		margin: 0 auto;
		width: 55%;
	}
}

.click {
	cursor: pointer;
}

@media screen and (max-width:815px)
{
	#app {
		#deck {
			background: image-url("deckCleanmobile.png");
			background-size: 100%;
			background-position: top;
		}
		section {
			width: 75%;
		}
	}

}

@media screen and (max-width:374px)
{
	#app {
		#deck {
			background: image-url("deckCleanmobile2.png");
			background-size: 100%;
			background-position: top;
		}
	}

}