@mixin back($url) {
	background: {
		image: image-url($url);
		position: center top;
		size: 100%;
		repeat: no-repeat;
	}
}

@mixin transitions {
	transition: {
		delay: 0;
		duration: .25s;
		property: opacity;
		//timing-function: cubic-bezier(.05,.48,.94,.48);
		timing-function: ease-out;
	}
}

@mixin animateElementBg($url) {
	@include back($url);
	@include transitions;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
}

@mixin animateElement{
	@include transitions;
	opacity: 0;
}

@mixin buttonLightBox ($url) {
	background:image-url($url);
	background-size: 100%;
	background-position: center top;
	background-repeat: no-repeat;
	&:hover {
		background-position: center 100%;
		background-size: 106%;
	}
}
