// Place all the styles related to the ODI controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background: image-url("patternBg.jpg");
	background-size:  100%;
	background-position:  center 0px;
	background-repeat:  repeat;
	color:white;
	width: 100%;
}

h1 {
	margin: 0;
}
.relativeContent {
	position: relative;
	top: 19.5em;
}

.hidden {
	display: none;
}

::-webkit-scrollbar { 
    display: none; 
}

#shareFacebook {
	display:block;
	margin: 2em auto;
	width: 20%;
}

footer {
	font-family: "klavika_regularregular";
	text-align: center;
	padding-bottom: 5em;
	#sponsorLogos {
		img {
			width: 15%;
			vertical-align: middle;
		}
	}
	p {
		display: inline-block;
		vertical-align: middle;
		margin-top: .4em;
	}
}

@media screen and (max-width: 815px) {
	#shareFacebook {
		margin: 2em auto;
		width: 30%;
	}
}
