<!DOCTYPE html>
<html  ng-app="odiApp">
<head>
  <title>OneDollarItem</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  </head>
<body>

	<ap-menu-directive>
	</ap-menu-directive>

	<ap-app-directive>
	</ap-app-directive>
	

<%= yield %>


  </body>
</html>
